html 
    head 
        title Mírame la petanca
    body 
        header 
            nav 
                ul 
                    li Home 
                    li About 
                    li Contacto 
        main 
            block content 
        footer 