extends ../layout 

block content 
    link(rel="stylesheet", href="/style.css")
    h1 Equipos

    table 
        thead 
            th Nombre 
            th Fecha creación
            th Estadio
        tbody 
            each team in teams
                tr 
                    td=team.name 
                    td=team.creation_date
                    if team.stadium
                        td=team.stadium.name 
                    else 
                        td Sin estadio 
                    td 
                       form(action=`/teams/team/delete/${team.idteam}`, method="post") 
                            input(type="hidden", name="password", value="mi-contraseña")
                            input(type="submit", value="¡¡¡NO ME BORRES POR FAVOOOORRRRR!!!")
    a(href="/teams/new") 
        button Crear un equipo  
                        

                


        