extends ../layout 

block content 
    h2 Crear un equipo
    if error     
        p=error 
    
    form(action="/teams" method="POST") 
        label(for="name") Nombre 
        input(type="text" name="name" id="name") 
        br
        label(for="date") Fecha creación
        input(type="date", name="date", id="date")
        br
        label(for="stadium") Estadio 
        if stadiums 
            select(name="idstadium" id="idstadium") 
                option(value="0") Sin estadio 
                each stadium in stadiums
                    option(value=stadium.idstadium)=stadium.name 
        else 
            input(type="number", name="idstadium" id="idstadium")

        br
        input(type="hidden", name="password", value="mi-contraseña")
        input(type="submit", value="Crear equipo")

    a(href="/teams") 
        button  Volver a la lista 
   